<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.Murasya.toten" version="3.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>とーてん</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="noteappm@gmail.com" href="https://noteappm.wixsite.com/toten-online"></author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon/icon.png" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/screen/android/splash_200_320.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash_360_640.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash_480_800.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash_720_1280.png" density="land-xhdpi"/>
        <splash src="res/screen/android/splash_1080_1920.png" density="land-xxhdpi"/>
        <splash src="res/screen/android/splash_1440_2560.png" density="land-xxxhdpi"/>
        <!-- <preference name="android-targetSdkVersion" value="28" /> -->
    </platform>
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <config-file parent="GADApplicationIdentifier" target="*-Info.plist">
            <string>ca-app-pub-8657757436017103~8650036392</string>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.4" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.2.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.6.8" />
    <plugin name="cordova-plugin-inappbrowser" spec="~4.0.0" />
    <plugin name="cordova-plugin-safariviewcontroller" spec="~1.6.0" />
</widget>
