<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.Murasya.toten" version="3.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>とーてん</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="noteappm@gmail.com" href="https://noteappm.wixsite.com/toten-online"></author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon/icon.png" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/screen/android/splash_ldpi.9@0.75x.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash_mdpi.9.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash_hdpi.9@1.5x.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash_xhdpi.9@2x.png" density="land-xhdpi"/>
        <splash src="res/screen/android/splash_xxhdpi.9@3x.png" density="land-xxhdpi"/>
        <splash src="res/screen/android/splash_xxxhdpi.9@4x.png" density="land-xxxhdpi"/>
        <preference name="android-targetSdkVersion" value="29" />
    </platform>
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <splash width="320" height="480" src="res/screen/ios/ios_splash_320_480.png" />
        <splash width="640" height="960" src="res/screen/ios/ios_splash_640_960.png" />
        <splash width="640" height="1136" src="res/screen/ios/ios_splash_640_1136.png" />
        <splash width="750" height="1334" src="res/screen/ios/ios_splash_750_1334.png" />
        <splash width="828"  height="1792" src="res/screen/ios/ios_splash_828_1792.png" />
        <splash width="1125" height="2436" src="res/screen/ios/ios_splash_1125_2436.png" />
        <splash width="1242" height="2208" src="res/screen/ios/ios_splash_1242_2208.png" />
        <splash width="1242" height="2688" src="res/screen/ios/ios_splash_1242_2688.png" />
        <splash width="2208" height="1242" src="res/screen/ios/ios_splash_2208_1242.png" />
        <splash width="2436" height="1125" src="res/screen/ios/ios_splash_2436_1125.png" />
        
        <config-file parent="GADApplicationIdentifier" target="*-Info.plist">
            <string>ca-app-pub-8657757436017103~8650036392</string>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.4" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.2.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.6.8" />
    <plugin name="cordova-plugin-inappbrowser" spec="~4.0.0" />
    <plugin name="cordova-plugin-safariviewcontroller" spec="~1.6.0" />
</widget>
