.analyze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.analyze__background {
  background-color: #E8F6FD;
  background-image: url('../images/分析_1枚目背景.png');
  background-size: cover;
}

.analyze__tenchan {
  position: absolute;
  top: -15%;
  left: -40%;
  width: 70%;
}

.analyze__speech {
  width: 252px;
}

.analyze__thema {
  border: 1pt solid #DE4D2B;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0pt;
  background-color: transparent;
  padding: 5px 0;
  width: 70%;
  margin-top: 40px;
}

.analyze__category {
  width: 25%;
  border-radius: 1.45pt;
  border: solid 0.23pt #A6A7A7;
  color: #8E8E8F;
  background-color: #FFF;
  font-size: 10pt;
  margin-top: 32pt;
  padding: 2pt;
}

.analyze__next-button {
  border-radius: 8pt;
  border: none;
  height: 30px;
  margin-top: 25px;
  background-color: rgba(237, 106, 76, 1);
  color: #FFF;
}

.analyze__help-button {
  align-self: flex-start;
  margin-left: 45px;
  margin-top: 10px;
}