html {
  font-family: 'vdl-v7gothic', sans-serif;
}
button {
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
button:focus {
  outline: 0;
}
a:focus {
  outline: 0;
}
button:active {
  box-shadow: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cartoon {
  position: absolute;
  top: -15%;
  left: -40%;
  width: 70%;
}

header {
  background-color: rgba(255, 255, 255, 1.0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

[v-cloak] {
  display: none;
}

/* index */
#buttons_index {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  margin-bottom: 10%;
  width: 40%;
  margin-top: 50px;
}
#notSignIn .img-button {
  width: 75pt;
  margin-top: 10pt;
  margin-left: 150pt;
}
#isSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* start */
#start #hoge, #resume #hoge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#start img, #resume img {
  width: 191px;
}
#start p, #resume p {
  font-size: 31pt;
  color: #FFF;
  margin: 52pt 0 0 0;
  font-family: Futura, sans-serif;
  font-weight: bold;
}

/* help */
.speech-box {
  position: relative;
  top: 30pt;
  left: 0;
  width: 160pt;
  height: 70pt;
  margin: 0;
}
.speech-box img {
  position: absolute;
  width: 160pt;
  z-index: 20;
  left: 100px;
}
#help {
  background-color: #FCE8E3;
  scroll-behavior: smooth;
}
#help .header {
  height: auto;
  background-color: #ED6A4C;
  padding-bottom: 45px;
}
#help .header .links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 100pt;
}
#help .header .links a {
  color: #000000;
  text-decoration: none;
  margin-left: 30pt;
  font-size: 14pt;
}
#help h1 {
  font-size: 15px;
  border-left: solid 1pt #ED6A4C;
  border-bottom: solid 1pt #ED6A4C;
  margin-top: 30pt;
  padding-left: 5pt;
  display: inline-block;
}
#help .help-content {
  text-align: left;
  margin: 0 30pt;
  font-size: 13px;
  padding-bottom: 100px;
}
#help .help-content span {
  color: #ED6A4C;
}
#help .popback img {
  height: 31px;
  margin: 20px;
  margin-bottom: 0;
}

/* explain */
.explainVue {
  height: 100%;
}
.explain-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #B9B9B9;
  background-image: url('../images/機能紹介_サインイン_サインアップ_背景.png');
  background-size: cover;
}
.explain-page img.back {
  width: 100%;
}

/* register */

.twitter_register {
  background-color: #4190C6;
  font-size: 11pt;
  padding: 8px 16px 9px 16px;
  color: #FFF;
}
.google_register {
  background-color: #FFF;
  color: black;
  padding: 8px 16px 9px 16px;
}

/* ready */
#readyVue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: #E8F6FD;
}
#readyVue img {
  width: 170pt;
  margin-bottom: 30pt;
}
#readyVue p {
  width: 100%;
  background-color: #FFF;
  color: #484848;
  line-height: 24pt;
  padding: 21pt 0;
  margin: 0;
}
#readyVue button {
  width: 85px;
  height: 36px;
  border-radius: 8pt;
  border: none;
  font-size: 14pt;
  margin: 26pt 10px 0;
}
#readyVue .yes {
  background-color: rgba(224, 131, 110, 1);
  color: #FFF;
}
#readyVue .skip {
  background-color: rgba(131, 131, 131, 1);
  color: #FFF;
}


/* finish_tutorial */
#finish_tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(232, 246, 253, 1);
  height: 100%;
}
#finish_tutorial img {
  width: 170pt;
}
#finish_tutorial p {
  background-color: #FFF;
  width: 100%;
  font-size: 14px;
  padding: 33px 0;
  line-height: 24px;
}
#finish_tutorial button {
  font-size: 14pt;
  color: #FFF;
  background-color: rgba(237, 106, 76, 1);
  border: none;
  border-radius: 8pt;
  padding: 11pt 18pt;
  margin-top: 26px;
}

/* mail_sent */
#mail_sent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
#mail_sent h1 {
  font-size: 20pt;
  color: #ED6A4C;
  background-color: #FFF;
  width: 100%;
  padding: 33pt 0;
  box-shadow: 0pt 3pt 6pt rgba(0, 0, 0, 0.16);
}
#mail_sent p {
  font-size: 13pt;
}
#mail_sent a {
  text-decoration: underline;
  margin-top: 21pt;
  color: rgba(113, 113, 113, 1);
  font-size: 12pt;
}

.skip_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 119, 152, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.skip_modal h1 {
  color: #FFF;
  border-bottom: solid 2px #FFF;
  font-size: 18px;
  padding: 7px;
}
.skip_modal button {
  width: 100px !important;
  height: 36px;
  border-radius: 8px;
  border: none;
  font-size: 14px !important;
  margin: 26pt 10px 0;
}
.skip_modal .yes {
  background-color: rgba(224, 131, 110, 1);
  color: #FFF;
}
.skip_modal .no {
  background-color: #FFF;
  color: black;
}
.skip_modal span {
  color: #FFF;
  margin: 20px;
  font-size: 12px;
}

#check_tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(232, 246, 253, 1);
}
#check_tutorial p {
  background-color: #FFF;
  font-size: 14px;
  color: rgb(72, 72, 72);
  text-align: center;
  padding: 30px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
}
#check_tutorial button {
  background-color: rgb(237, 106, 76);
  color: #FFF;
  border: none;
  width: 85px;
  height: 36px;
  border-radius: 8px;
  margin-top: 20px;
}