html {
  font-family: 'vdl-v7gothic', sans-serif;
}
button:focus {
  outline: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cartoon {
  position: absolute;
  top: -15%;
  left: -40%;
  width: 70%;
}

header {
  background-color: rgba(255, 255, 255, 1.0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

[v-cloak] {
  display: none;
}

/* index */
#buttons_index {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  margin-bottom: 10%;
  width: 40%;
  margin-top: 50px;
}
#notSignIn .img-button {
  width: 75pt;
  margin-top: 10pt;
  margin-left: 150pt;
}
#isSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* account */
#signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: #626262;
  background-image: url(../images/機能紹介_サインイン_サインアップ_背景.png);
  background-size: cover;
}
#signIn p {
  color: #ED6A4C;
  font-size: 25pt;
}
#signIn div {
  background-color: rgba(162, 162, 162, 0.27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32pt 0;
}
#signIn hr {
  width: 80%;
  border-top: solid 1pt #FFF;
}
#signIn div a {
  align-self: flex-end;
  margin-right: 48pt;
}
.twitter_login {
  background-color: #4190C6;
  border-radius: 5pt;
  border: none;
  color: #FFF;
  width: 230pt;
  padding: 6pt 30pt;
  font-size: 10pt;
  margin-top: 20pt;
}
.google_login {
  background-color: #FFF;
  border-radius: 5pt;
  border: solid 0.5pt #707070;
  padding: 6pt 30pt;
  font-size: 10pt;
  margin-top: 15pt;
}
#email, #password {
  width: 80%;
  height: 43pt;
  border-radius: 22pt;
  border: solid 1pt #707070;
  text-indent: 25pt;
  margin-bottom: 18pt;
}
.forgot_password {
  text-decoration: underline;
  font-size: 12pt;
  color: #ED6A4C;
  margin-top: 14pt;
}

#login_account {
  width: 72.98pt;
  height: 44.9pt;
  background-color: #E8610C;
  color: #FFFFFF;
  font-size: 26.27pt;
  display: block;
  margin: 50.74pt auto 99.71pt;
}

#new_account {
  width: 117.18pt;
  height: 33.89pt;
  background-color: #A6A7A7;
  color: #FFFFFF;
  border-radius: 6.47pt;
  font-size: 18.43pt;
}

/* start */
#start #hoge, #resume #hoge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#start img, #resume img {
  width: 191px;
}
#start p, #resume p {
  font-size: 31pt;
  color: #FFF;
  margin: 52pt 0 0 0;
}

/* myRecode */
#myRecodeVue .tab {
  position: relative;
  background-color: #E0836E;
  height: 97pt;
  width: 100%;
}
#myRecodeVue .tab button:focus {
  outline: 0;
}
#myRecodeVue .tab button:nth-of-type(1) {
  position: absolute;
  left: 19pt;
  top: 57pt;
  height: 26pt;
  border-radius: 13pt;
  border: none;
  font-size: 10pt;
}
#myRecodeVue .tab button:nth-of-type(2) {
  position: absolute;
  top: 57pt;
  height: 26pt;
  border-radius: 13pt;
  border: none;
  font-size: 10pt;
}
.recode {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 100px;
}
.data {
  position: relative;
  display: block;
  width: 90%;
  margin: 12px auto 0;
}
.data span {
  position: relative;
  top: 0;
  left: 0;
  font-size: 10px;
  color: #626262;
  margin: 0;
  padding: 5px 21px;
  background-color: #E8F6FD;
  border-radius: 5px;
}
.data p {
  position: relative;
  top: -3px;
  font-size: 12px;
  margin: 0;
  padding: 12px 0 18px 21px;
  background-color: #E8F6FD;
  border-radius: 5px;

}
.data hr {
  position: relative;
  bottom: 17px;
  margin: 0 21px;
}

/* help */
.speech-box {
  position: relative;
  top: 30pt;
  left: 0;
  width: 160pt;
  height: 70pt;
  margin: 0;
}
.speech-box img {
  position: absolute;
  width: 160pt;
  z-index: 20;
  left: 100px;
}
#help {
  background-color: #FCE8E3;
  scroll-behavior: smooth;
}
#help .header {
  height: auto;
  background-color: #ED6A4C;
  padding-bottom: 45px;
}
#help .header .links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 100pt;
}
#help .header .links a {
  color: #000000;
  text-decoration: none;
  margin-left: 30pt;
  font-size: 14pt;
}
#help h1 {
  font-size: 15px;
  border-left: solid 1pt #ED6A4C;
  border-bottom: solid 1pt #ED6A4C;
  margin-top: 30pt;
  padding-left: 5pt;
  display: inline-block;
}
#help .help-content {
  text-align: left;
  margin: 0 30pt;
  font-size: 13px;
  padding-bottom: 100px;
}
#help .help-content span {
  color: #ED6A4C;
}
#help .popback img {
  height: 31px;
  margin: 20px;
  margin-bottom: 0;
}

/* explain */
.explainVue {
  height: 100%;
}
.explain-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #B9B9B9;
  background-image: url('../images/機能紹介_サインイン_サインアップ_背景.png');
  background-size: cover;
}
.explain-page img.back {
  width: 100%;
}

/* register */
#register {
  background-color: #F7C7B9;
  height: 100%;
  width: 100%;
  text-align: left;
}
#register ul {
  background-color: #FFF;
  margin: 0;
  padding: 20pt 36pt 16pt 50pt;
}
#register li {
  font-size: 11px;
}
#register li a {
  color: #ED6A4C;
  text-decoration: underline;
}
#register .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
}
#register .form div {
  display: flex;
  flex-direction: row;
  padding: 0;
}
#register p {
  font-size: 12px;
  margin: 12px 0 0;
}
#register input {
  border-radius: 22pt;
  border: solid 0.8pt #707070;
  padding: 10px;
  width: 100%;
}
#register select {
  border-radius: 13pt;
  border: solid 0.8pt #707070;
  padding: 7px 0 7px 10px;
  font-size: 11px;
}
#register button {
  border-radius: 5pt;
  border: none;
}
#register .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20pt 50pt 0;
}
#register .send_mail_btn {
  background-color: #ED6A4C;
  font-size: 14px;
  padding: 8px 41px 7px 43px;
  color: #FFF;
}
#register hr {
  width: 100%;
  border-top: solid 1pt #3B3B3B;
  margin: 15px 0;
}
#register h3 {
  font-size: 13px;
}
.twitter_register {
  background-color: #4190C6;
  font-size: 11pt;
  padding: 8px 16px 9px 16px;
  color: #FFF;
}
.google_register {
  background-color: #FFF;
  color: black;
  padding: 8px 16px 9px 16px;
}

/* ready */
#readyVue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: #E8F6FD;
}
#readyVue img {
  width: 170pt;
  margin-bottom: 30pt;
}
#readyVue p {
  width: 100%;
  background-color: #FFF;
  color: #484848;
  line-height: 24pt;
  padding: 21pt 0;
  margin: 0;
}
#readyVue button {
  width: 85px;
  height: 36px;
  border-radius: 8pt;
  border: none;
  font-size: 14pt;
  margin: 26pt 10px 0;
}
#readyVue .yes {
  background-color: rgba(224, 131, 110, 1);
  color: #FFF;
}
#readyVue .skip {
  background-color: rgba(131, 131, 131, 1);
  color: #FFF;
}


/* finish_tutorial */
#finish_tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(232, 246, 253, 1);
  height: 100%;
}
#finish_tutorial img {
  width: 170pt;
}
#finish_tutorial p {
  background-color: #FFF;
  width: 100%;
  font-size: 14px;
  padding: 33px 0;
  line-height: 24px;
}
#finish_tutorial button {
  font-size: 14pt;
  color: #FFF;
  background-color: rgba(237, 106, 76, 1);
  border: none;
  border-radius: 8pt;
  padding: 11pt 18pt;
  margin-top: 26px;
}

/* password_reset */
.password_reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.password_reset h1 {
  font-size: 20pt;
  text-align: center;
}
.password_reset div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40pt 0;
  background-color: rgba(255, 255, 255, 0.39);
  box-shadow: 3pt 5pt 6pt rgba(18, 18, 18, 0.16);
}
.password_reset p {
  font-size: 11pt;
  text-align: center;
  margin: 0;
}
.password_reset input {
  width: 70%;
  border-radius: 22pt;
  border: solid 1pt #707070;
  padding: 15pt;
  font-size: 13pt;
  margin-top: 37pt;
}
.password_reset button {
  width: 210pt;
  border-radius: 5pt;
  border: none;
  font-size: 14pt;
  background-color: #ED6A4C;
  padding: 8pt 0;
  color: #FFF;
  margin-top: 37pt;
}

/* mail_sent */
#mail_sent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
#mail_sent h1 {
  font-size: 20pt;
  color: #ED6A4C;
  background-color: #FFF;
  width: 100%;
  padding: 33pt 0;
  box-shadow: 0pt 3pt 6pt rgba(0, 0, 0, 0.16);
}
#mail_sent p {
  font-size: 13pt;
}
#mail_sent a {
  text-decoration: underline;
  margin-top: 21pt;
  color: rgba(113, 113, 113, 1);
  font-size: 12pt;
}

/* feedback */
#feedback div.head {
  background-color: #AFAFAF;
  padding: 24pt 24pt 23pt;
  box-shadow: 0pt 3pt 6pt rgba(0, 0, 0, 0.16);
}
#feedback div.head a {
  font-size: 12pt;
  color: rgba(56, 56, 56, 1);
}
#feedback div.head h1 {
  color: #FFF;
  font-size: 20pt;
  text-align: center;
  margin: 10pt 0 0;
}
#feedback form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10pt;
}
#feedback form p {
  font-size: 11px;
  text-align: left;
  margin-top: 36pt;
}
#feedback form textarea {
  padding: 10pt;
  border-radius: 15pt;
  border: solid 0.5pt rgba(175, 175, 175, 1);
  height: 200pt;
  width: 80%;
  margin-top: 10pt;
}
#feedback form input {
  color: #FFF;
  font-size: 14pt;
  background-color: rgba(114, 114, 114, 1);
  border-radius: 5pt;
  padding: 7pt 44pt;
  margin-top: 26pt;
}
#feedback .overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(203, 203, 203, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
}
#feedback .overlay div {
  background-color: rgba(247, 193, 177, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#feedback .overlay div a {
  align-self: flex-end;
  text-align: right;
  width: 12pt;
  margin: 20pt;
}
#feedback .overlay div h2 {
  font-size: 22pt;
  color: #FFF;
  margin-top: 0;
}
#feedback .overlay div p {
  font-size: 11pt;
  color: black;
  margin-bottom: 30pt;
}

.skip_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 119, 152, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.skip_modal h1 {
  color: #FFF;
  border-bottom: solid 2px #FFF;
  font-size: 18px;
  padding: 7px;
}
.skip_modal button {
  width: 100px !important;
  height: 36px;
  border-radius: 8px;
  border: none;
  font-size: 14px !important;
  margin: 26pt 10px 0;
}
.skip_modal .yes {
  background-color: rgba(224, 131, 110, 1);
  color: #FFF;
}
.skip_modal .no {
  background-color: #FFF;
  color: black;
}
.skip_modal span {
  color: #FFF;
  margin: 20px;
  font-size: 12px;
}

#check_tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(232, 246, 253, 1);
}
#check_tutorial p {
  background-color: #FFF;
  font-size: 14px;
  color: rgb(72, 72, 72);
  text-align: center;
  padding: 30px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
}
#check_tutorial button {
  background-color: rgb(237, 106, 76);
  color: #FFF;
  border: none;
  width: 85px;
  height: 36px;
  border-radius: 8px;
  margin-top: 20px;
}