.my-toolbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #FFF;
  z-index: 100;
  border-top: solid 0.5px #D3D3D3;
}
.my-toolbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}
.my-toolbar__item {
  display: flex;
  flex-direction: column;
  width: 60px;
}
.my-toolbar__title {
  font-size: 9px;
  color: #585858;
  text-align: center;
  margin: 3px;
}
.my-toolbar__logo {
  margin: 0 auto;
  height: 30px;
}