.toolbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #E8E8E8;
    z-index: 100;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 60px;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 9px;
        color: #585858;
    }

    &__logo {
        margin: 0 auto;
        height: 30px;
    }
}